<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
          @*페이지 찾을 수 없는 경우 에러 메시지 출력하는 부분*@
            <p role="alert">사용자정의: 해당 페이지를 찾을 수 없습니다.</p>
        </LayoutView>
    </NotFound>
</Router>
